/**----BUILDER CSS----**/
body {
      margin: 0;
      padding: 0;
      font-family: monospace;
    }

    .wrapper {
      height: 100%;
      width: 100%;
      background-image: url(https://dlvkyia8i4zmz.cloudfront.net/slK1IDe6RvOerRGSS9Fl_Ubergif.gif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    #main {
      vertical-align: middle;
      background-color: white;
    }

    #welcome {
      color: #fff;
    }

    .cover-container {
      max-width: 52em;
    }

    .jumbotron {
      height: 80vh;
      margin-bottom: 0;
    }

    .addInput {
      padding-top: 15px;
    }

    /* width */

    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    @media (max-width: 1024px) {}
    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.round-button {
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}
/*-----ALGORITHM CSS--------*/
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
/* The heart of the matter */
.btn-matrix .btn
{
  width: 33.3%;
}
.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}
 .btn-matrix { flex-wrap: wrap; }

 /*----EDIT PANEL----*/
 a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 /*jssor slider loading skin spin css*/
 .jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 031 css*/
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}